!!!
%html
  %head
    %meta(charset="utf-8")
    %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
    %title Hamlet
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Droid+Sans"
    = stylesheet_link_tag "all"
    = favicon_tag "favicon.ico"
    %script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51852110-1', 'hamlet.coffee');
      ga('send', 'pageview');

  %body(class=page_classes)
    %header
      %h1
        .centered.logo.sprites-header_logo
        .centered.title= current_page.data.title
      %a.button.github.right(href="https://github.com/dr-coffee-labs/hamlet" target="_blank")
        %span.icon.github.sprites-github_icon
        %span.text GitHub
    = yield
    %footer.centered
      .callout Ready to get started?
      %a.button.install(href="https://github.com/dr-coffee-labs/hamlet#getting-started" target="_blank")
        %span.icon.sprites-install
        %span Install Hamlet
    #errors
    = javascript_include_tag "all"
