!!!
%html
  %head
    %meta(charset="utf-8")
    %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
    %title Hamlet - Simple and powerful reactive templating
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Droid+Sans:400,700"
    = stylesheet_link_tag "all"
    = favicon_tag "favicon.ico"
    %script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51852110-1', 'hamlet.coffee');
      ga('send', 'pageview');

  %body(class=page_classes)
    %header
      %h1
        %a.logo.sprites-header_logo(href="/")
        .title
          .text= current_page.data.title
          -if current_page.data.subtitle
            %h6.subtitle= current_page.data.subtitle
      %a.button.github.right(href="https://github.com/dr-coffee-labs/hamlet" target="_blank")
        %span.icon.github.sprites-github_icon
        %span.text GitHub
    = yield
    %footer.centered
      %a.button.install(href="https://github.com/dr-coffee-labs/hamlet#getting-started" target="_blank")
        %span.icon.sprites-install
        %span Install Hamlet
      = yield_content :navigation
    #errors

    /[if lt IE 9]
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/3.4.0/es5-shim.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/json3/3.3.1/json3.min.js"></script>
    = javascript_include_tag "all"
