.example(class=@hideInactive)
  %h4.title
    %span.icon
    %span= @header
  %hr.divider
  .description
    %p= @description
  .left-column
    .code.template(value=@sourceTemplate)
    .code.javascript(value=@sourceCode)
  .right-column
    %button.reset(click=@reset) Reset this example
    .output
  -if @competitorUrl
    .competing-example
      %h3
        Compared to
        = @competitorName
      .left-column
        %iframe.html(src="#{@competitorUrl}/embedded/html" allowfullscreen="allowfullscreen")
        %iframe.javascript(src="#{@competitorUrl}/embedded/js" allowfullscreen="allowfullscreen")
      .right-column
        %iframe.result(src="#{@competitorUrl}/show" allowfullscreen="allowfullscreen")
